*{
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.cont_Acts {
    display: flex;
	align-items: center;
	flex-direction: column;
	width: 60%;
	background-color: #FF0000;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	
	padding: 25px;

	box-shadow: 4px 3px 8px 1px #191919AB;
  	-webkit-box-shadow: 4px 3px 8px 1px #191919AB;
}

.texto_Tabla {
	margin-top: 15px;
	color: #fff;
	font-weight: 550;
	font-size: 35px;
	width: 50%;
	margin-right: 45%;
}

.lineadivisoria {
	margin-top: -15px;
	background: #fff;
	height: 4px;
	width: 100%;
	margin-bottom: 30px;
}

.mensajeError{
	font-size: 25px;
	font-weight: 400;
	color: #fff;
}

.tabla {
	width: 100%;
	border-radius: 15px;
}

.botonesBajos {
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 20px;
	display: flex;
}

.botonAceptarAct{
	margin-right: 50px;
	width: 60%;
}

.iconoboton {
	font-size: 30px;
}