<body>

    <h1>ACTIVIDADES IMPORTANTES</h1>
    <br>
    <hr class="linea" >

    <div class="home-content">
        <div class="home-content-left">
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
            <div class="home-content-left-fondo">
                <a href="/actividades">
                    <div class="home-content-left-child" >
                    </div>
                    <div class="left-child-text">
                        <p class="text-up">Escalada en sevilla</p>
                        <p class="text-down">27 de Noviembre 2021</p>
                    </div>
                    </a>
            </div>
        </div>
        <div class="home-content-right">
            
            <div class="home-content-right-child">
                Hola que tal, <br>
                bienvenidos a mi pagina golfa <br>
                como estamos
            </div>

            <div class="home-content-right-child-botones">
                <a href="/login">
                    <button pButton pRipple type="button" label="Login" class="p-button-secondary"></button>
                </a>
                <p class="text-entreBotones">No tienes cuenta?</p>
                
                <a href="/registro">
                    <button pButton pRipple routerLink="/registro" type="button" label="Registrarse" class="p-button-warning" (click)="hola()"></button>
                </a>
            </div>
        </div>
    </div>
</body>